.container {
	display: flex;
	justify-content: space-between;
	padding: 0 30px 0;
}

.outer {
	display: flex;
	font-family: arial, sans-serif;
	width: 100%;
}

body {
	margin: 0;
}

figcaption {
	text-align: center;
	font-family: arial, sans-serif;
	margin: 0;
	font-size: 19px;
}

a {
	word-wrap: break-word;
}

.name {
	font-size: 29px;
	font-weight: 500;
	margin: 0;
}

.subtitle {
	font-size: 12px;
}

.nav {
	display: flex;
	flex-direction: column;
	text-align: right;
	vertical-align: bottom;
	font-family: arial, sans-serif;
	order: 2;
}

.main {
	flex: 5;
	order: 2;
	margin: 50px 0px 0px 0px;
}

.featuredWork {
	color: gray;
	font-size: 18px;
	font-weight: 400;
	margin: 30px 0 20px 0;
}

.featuredIcon {
	vertical-align: middle;
	max-width: 100%;
    height:auto;
}

.featuredFigure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	min-width: 200px;
	box-sizing: border-box;
	text-align: center;
}

.img-container {
	background-image: url(../image/image.jpg);
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.inner-container {
	text-align: center;
	position: absolute;
	width: 100%;
	color: white;
	height: auto;
	margin-top: 200px;
}

figure {
	display: flex;
	flex-direction: column;
}

figure img {
	align-self: center;
}

.sampleCode {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	display: inline-block;
	width: 200px;
	font-weight: bold;
	padding: 10px;
	color: #fff;
	border: 4px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active {
	background-color: #fff;
	color: #000;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.sampleCode figure {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
}

.featuredLink {
	font-size: 11px;
	margin: 0 0 30px 0;
}

figcaption {
	margin-top: 10px;
	width: 100%;
}

/*Horizontal list items from*/
/*https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/*/
.table {
	display: table;/* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	list-style: none;
}

ul#horizontal-list li {
	display: inline;
}

ul li {
	list-style: none;
}

/*Social Links Styling below*/
/*https://www.youtube.com/watch?v=QaSLBMqPb2U*/
.footerWrapper {
	display: block;
	align-content: center;
	background: black;
}

ul {
	width: 100%;
	display: flex;
	position: relative;
	padding-left: 0px;
}

ul li a {
	width: 70px;
	height: 70px;
	background: #fff;
	text-align: center;
	line-height: 70px;
	font-size: 35px;
	margin: 0 6px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}

ul li a .fa {
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
}

ul li a:hover .fa {
	color: #fff;
	transform: rotateY(360deg);
}

ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 2;
}

ul li a:hover:before {
	top: 0;
}

ul li:nth-child(1) a:before {
	background: #dd4b39;
}

ul li:nth-child(2) a:before {
	background: #3b5998;
}

ul li:nth-child(3) a:before {
	background: #00aced;
}

ul li:nth-child(4) a:before {
	background: #007bb6;
}